<center>
    <table>
                <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Address</th>
                <th>Phone no.</th>
                    <th>Mobile no.</th>
                    <th>Registration</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
                <% data.forEach(function(x){ %>
                    <div>
                    <tr>
                        <td><%=x.name %></td>
                        <td><%=x.company %></td>
                        <td><%=x.address %></td>
                        <td><%=x.phno%></td>
                        <td><%=x.mobile%></td>
                        <td><%=x.registration_no%></td>
                        <td><%=x.email%></td>
                        <td><%=x.status%></td>
                    </tr>
                    </div>
            <% }) %>
            </table>        
    </center>